<?xml version="1.0"?>
<launch>
	<!-- Run the map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="/home/cottsay/map.yaml" />
	
	<!-- Run AMCL -->
	<include file="$(find blinky_2dnav)/launch/amcl_diff.launch" />

	<!-- Convert the nav stack's twist msgs to AckermannDrive msgs -->
	<node pkg="blinky_2dnav" type="twist_to_ackermann" respawn="true" name="twist_to_ackermann" output="screen">
		<remap from="nav_switch" to="pololu_smc_driver/analog1/scaled" />
	</node>

	<!-- Nav stack -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<param name="base_local_planner" value="ackermann_local_planner/AckermannPlannerROS" />
		<!--param name="base_global_planner" value="navfn/NavfnROS" /-->
		<param name="base_global_planner" value="waypoint_global_planner/WaypointGlobalPlanner" />

		<rosparam>recovery_behaviors: [{name: conservative_reset, type: clear_costmap_recovery/ClearCostmapRecovery}, {name: aggressive_reset, type: clear_costmap_recovery/ClearCostmapRecovery}]</rosparam>

		<!-- costmap parameters -->
		<rosparam file="$(find blinky_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find blinky_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find blinky_2dnav)/config/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find blinky_2dnav)/config/global_costmap_params.yaml" command="load"/>

		<!-- local planner params -->
		<rosparam file="$(find blinky_2dnav)/config/planner_params.yaml" command="load"/>
	</node>
</launch>
